.grid-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-sm-4 {
  flex: 0 0 calc(33.333% - 20px);
  display: flex;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; /* Ensure absolute positioning works relative to the card */

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.card-img-top {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 15px;
}

.edit-button,
.delete-button {
  position: relative;
  top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s;

  &:hover {
    color: #0056b3;
  }
}

.edit-button {
  right: 10px;
}

.delete-button {
  left: 10px;
  color: red !important;
}

@media (max-width: 768px) {
  .col-sm-4 {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .col-sm-4 {
    flex: 0 0 100%;
  }
}
.card-container{
  width: 500px !important;

}