<div class="main-container">
    <div class="blur-circle1">

    </div>
    <div class="blur-circle2">

    </div>
  <div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo"><img src="../../../assets/logo/logo.png" width="35px" height="35px" class="d-inline-block align-top" alt=""> <div class="app-name">Rentify</div></a>
        <ul class="links">
          <li (click)="navigateTo('/buyer')">Home</li>
          <li (click)="navigateTo('/login')">Login</li>
          <li (click)="navigateTo('/register')">Sign up</li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Welcome to Rentify</h1>
          <p>Your Ultimate Destination for Finding the Perfect Property</p>
          <button (click)="navigateTo('/buyer')">See Properties</button>
        </div>
        <div class="image">
          <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
        </div>
      </div>
    </div>
  </div>
  <!-- End Landing Page -->
</div>