/* You can add global styles to this file, and also import other style files */
.text-danger{
    color: red;
    padding : 4px;
}
.ngx-custom-toast {
    background-color: #007bff; /* Background color */
    color: #ffffff; /* Text color */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
