/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss */
.text-danger{
    color: red;
    padding : 4px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';